In [1]:
import numpy as np

In [5]:
mylist = [1,2,3,4,5,6]
type(mylist)

list

In [6]:
myarray = np.array(mylist)
myarray

array([1, 2, 3, 4, 5, 6])

In [8]:
type(myarray)

numpy.ndarray

In [9]:
np.arange(1,11,2) #like range in python

array([1, 3, 5, 7, 9])

In [10]:
np.zeros(shape=(5,5)) #give me a 5x5 array

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [12]:
np.zeros(shape=(10,5)) #give me 10*5 array

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [16]:
np.ones(shape=(2,4))
#np.ones((2,4)) also works

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [31]:
np.random.seed(101) #makes random consistently the same random number
arr = np.random.randint(0, 100, 10)
arr

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [32]:
arr2 = np.random.randint(0, 100, 10)
arr2

array([ 4, 63, 40, 60, 92, 64,  5, 12, 93, 40])

In [34]:
arr.max() #max value in array

95

In [35]:
arr.argmax() #index position of max value

0

In [36]:
arr.min() #min value

9

In [37]:
arr.argmin() #index of min

7

In [39]:
arr.mean() #calculates avg

60.8

In [41]:
arr.shape #returns 10, na since its only 10 accross

(10,)

In [42]:
arr.reshape((2, 5)) #reshaped to be 2*5

array([[95, 11, 81, 70, 63],
       [87, 75,  9, 77, 40]])

In [47]:
mat = np.arange(0, 100).reshape(10,10)
mat.shape

(10, 10)

In [48]:
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [55]:
row = 6
col = 7

In [57]:
mat[row, col] #can also just use nums

67

In [58]:
mat[:, 3] #all rows in column 3

array([ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93])

In [66]:
mat[3, :] #all cols in row 3

array([30, 31, 32, 33, 34, 35, 36, 37, 38, 39])

In [71]:
mat[1:6,3:5] #grab all rows between 1-6 exc 6 and cols between 3-5 exc 5

array([[13, 14],
       [23, 24],
       [33, 34],
       [43, 44],
       [53, 54]])

In [73]:
mat[1:6,3:5] = 0 #affects original array
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12,  0,  0, 15, 16, 17, 18, 19],
       [20, 21, 22,  0,  0, 25, 26, 27, 28, 29],
       [30, 31, 32,  0,  0, 35, 36, 37, 38, 39],
       [40, 41, 42,  0,  0, 45, 46, 47, 48, 49],
       [50, 51, 52,  0,  0, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [74]:
newmat = mat.copy()
newmat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12,  0,  0, 15, 16, 17, 18, 19],
       [20, 21, 22,  0,  0, 25, 26, 27, 28, 29],
       [30, 31, 32,  0,  0, 35, 36, 37, 38, 39],
       [40, 41, 42,  0,  0, 45, 46, 47, 48, 49],
       [50, 51, 52,  0,  0, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [78]:
newmat[0:3,0:3] = 33 #only affects copy
newmat

array([[33, 33, 33,  3,  4,  5,  6,  7,  8,  9],
       [33, 33, 33,  0,  0, 15, 16, 17, 18, 19],
       [33, 33, 33,  0,  0, 25, 26, 27, 28, 29],
       [30, 31, 32,  0,  0, 35, 36, 37, 38, 39],
       [40, 41, 42,  0,  0, 45, 46, 47, 48, 49],
       [50, 51, 52,  0,  0, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])